@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Ustawienia konta - ";
}

@model LibraryApp.Models.DTOs.UserSettingsDTO

<div class="container mt-5 text-center border p-4" style="width: 40%;">
    <div class="row">
        <div class="col">
            <h1>@Model.Login</h1>
        </div>
    </div>
    <div class="row mt-3 border-bottom">
        <div class="col">
            <h2>Edytuj swój profil</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="mt">
                <div class="mb-2">
                    <span>Adres e-mail:</span>
                    <span style="font-weight: normal;" id="email">@Model.Email</span>
                    <a data-bs-toggle="collapse" href="#collapseExample2" role="button" class="collapsed" aria-expanded="false">
                        Edytuj
                    </a>
                </div>
                <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        <form onsubmit="changeEmail(event)" oninput="clearEmailFeedback(event)">
                            <fieldset class="text-center">
                                <legend>Zmiana adresu e-mail</legend>
                                <div class="mb-3">
                                    <label for="email-password" class="form-label">Aktualne hasło:</label>
                                    <input type="password" class="form-control" id="email-password" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Nowy adres e-mail:</label>
                                    <input type="email" class="form-control" id="newemail" required>
                                </div>
                                <button type="submit" class="btn btn-primary mb-3">Ustaw</button>
                                <div id="change-email-feedback"></div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="mb-2">
                    <span>Hasło</span>
                    <a data-bs-toggle="collapse" href="#collapseExample3" role="button">
                        Edytuj
                    </a>
                </div>
                <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        <form onsubmit="changePassword(event)" oninput="clearPasswordFeedback(event)">
                            <fieldset class="text-center">
                                <legend>Zmiana hasła</legend>
                                <div class="mb-3">
                                    <label for="password_old" class="form-label">Aktualne hasło:</label>
                                    <input type="password" class="form-control" id="password_old">
                                </div>
                                <div class="mb-3">
                                    <label for="password1" class="form-label">Nowe hasło:</label>
                                    <input type="password" class="form-control" id="password1">
                                </div>
                                <div class="mb-3">
                                    <label for="password2" class="form-label">Nowe hasło:</label>
                                    <input type="password" class="form-control" id="password2">
                                </div>
                                <button type="submit" class="btn btn-primary mb-3">Ustaw</button>
                                <div id="change-password-feedback"></div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/settings.js"></script>


